<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ninepuzzle">

    <application
        android:allowBackup="true"
        android:roundIcon="@drawable/empty"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NinePuzzle">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NinePuzzle.NoActionBar"
            android:roundIcon="@drawable/empty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>